.main {
	margin-top: 80px;
}
.markings {
	margin: 0 40px;
	display: flex;
	height: 100px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.markings p {
	font-size: 8px;
	font-weight: 700;
}

.markings i {
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 16px;
}

.main-text {
	box-sizing: border-box;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-grow: 1;
}

.main-text p span {
	font-size: 12px;
	font-weight: bold;
	font-family: serif;
}
